<html>
<body background="app/assets/images/bgimage.jpg">
<style>
	body {
		background-image: url('bgimage.jpg');
	}
</style>
<h1> About BenchBlog </h1>
	<p> This is a platform for you to create blog posts about sports! And provides you with the ability to share it with the world! Created by Srinand, Abhishek, Aneesh, and Amrith. </p>
</body>
</html>


